#your public network ip

// Netflix
netflix.com
netflix.net
nflximg.com
nflximg.net
nflxvideo.net
nflxso.net
nflxext.com

// Hulu
hulu.com
huluim.com
hulu.jp

// HBO
hbonow.com
hbogo.com
hbo.com

// Amazon
amazon.com
amazon.co.uk
amazonvideo.com
amazonprimevideo.cn
amazonprimevideo.com.cn
amazonprimevideos.com
amazonvideo.cc
media-amazon.com
prime-video.com
primevideo.cc
primevideo.com
primevideo.info
primevideo.org
primevideo.tv
pv-cdn.net
aiv-cdn.net
aiv-delivery.net

// Crackle
crackle.com

// Pandora
pandora.com

// Vudu
vudu.com

// Blinkbox
blinkbox.com

// ABC
abc.com

// Fox
fox.com

// ThePlatform
theplatform.com

// NBC
nbc.com
nbcuni.com

// IP2Location
ip2location.com

// PBS
pbs.org

// Warner Bros
warnerbros.com

// South Park
southpark.cc.com

// CBS
cbs.com

// Brightcove
brightcove.com

// CWTV
cwtv.com

// Spike
spike.com

// Go
go.com

// MTV
mtv.com
mtvnservices.com

// PlayStation
playstation.net

// Uplynk
uplynk.com

// MaxMind
maxmind.com

// Disney
disney.com
disneyjunior.com
adobedtm.com
bam.nr-data.net
bamgrid.com
braze.com
cdn.optimizely.com
cdn.registerdisney.go.com
cws.conviva.com
d9.flashtalking.com
disney-plus.net
disney-portal.my.onetrust.com
disney.demdex.net
disney.my.sentry.io
disneyplus.bn5x.net
disneyplus.com
disneyplus.com.ssl.sc.omtrdc.net
disneystreaming.com
dssott.com
execute-api.us-east-1.amazonaws.com
js-agent.newrelic.com

// Xbox Live
xboxlive.com

// LoveFilm
lovefilm.com

// Turner
turner.com

// AMC
amctv.com

// Showtime
sho.com

// MOG
mog.com

// WDTV Live
wdtvlive.com

// BeIN Sports
beinsportsconnect.tv
beinsportsconnect.net

// BBC
fig.bbc.co.uk
open.live.bbc.co.uk
sa.bbc.co.uk
www.bbc.co.uk

// Crunchyroll
crunchyroll.com

// IFConfig
ifconfig.co

// Omtrdc
omtrdc.net

// Sling
sling.com

// MoveTV
movetv.com

// HappyOn
happyon.jp

// AbemaTV
abema.tv

// Optus
optus.com.au
optusnet.com.au

// Gamer
gamer.com.tw

// Bahamut
bahamut.com.tw

// HiNet
hinet.net

// DMM
dmm.com
dmm.co.jp
dmm-extension.com
dmmapis.com

// VideoMarket
videomarket.jp

// P-Smith
p-smith.com

// VM-Movie
img.vm-movie.jp

// Saima
saima.zlzd.xyz

// Cloudflare
challenges.cloudflare.com

// AI
ai.com

// OpenAI
openai.com
pay.openai.com
andriod.chat.openai.com
ios.chat.openai.com
chat.openai.com.cdn.cloudflare.net
openaiapi-site.azureedge.net
ios.chat.openai.com.cloudflare.net
chat.openai.com
files.oaiusercontent.com
auth0.openai.com
chatgpt.com
oaiusercontent.com
platform.openai.com
oaistatic.com

// TikTok
byteoversea.com
ibytedtos.com
ipstatp.com
muscdn.com
musical.ly
p16-tiktokcdn-com.akamaized.net
ibyteimg.com
sgpstatp.com
snssdk.com
tik-tokapi.com
tiktok.com
tiktokcdn.com
tiktokv.com

// Claude AI
claude.ai

// Anthropic
anthropic.com

// Fathom
cdn.usefathom.com